
.cabecalho{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{ 
    width: 20%;
}
.cabecalho-lita-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
margin: 0;
padding: 0;
}
.fotos-imagem{
     width:25%;}
.fotografia{
    background-image: linear-gradient(#000000, #86747400);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fotografia-conteudo{
    width: 35%;
}
body{
    font-family: 'Playfair Display', serif;
}
.camera-imagem{
    width:120px; 
}
.camera-div{
    text-align: center;
}
.cameras-fotografia{
    text-align: center;
    padding: 50px 0;
}
.camera-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}